.banner__inner {
  display: flex;
  padding: 150px 0 50px 0;
  justify-content: space-between;
}

.banner__article {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.banner__title {
  display: inline-block;
  font-weight: 700;
  font-size: 44px;
}

.banner__subtitle {
  font-size: 16px;
  line-height: 1;
}

.banner__button {
  background: var(--color-primary);
}

.banner__avatar-inner-img {
  width: 243px;
  height: 243px;
  min-width: 243px;
  min-height: 243px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 50%;
}


.banner__avatar {
  border-radius: 50%;
  width: 40%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.banner__avatar-inner {
  height: fit-content;
  position: relative;
}

.banner__avatar-inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: -5px;
  width: 100%;
  height: 100%;
  background-color: #EDF7FA;
  border-radius: 50%;
  z-index: -1;
}

.posts {
  background: var(--color-posts);
}

.posts__inner {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.posts__nav {
  display: flex;
  justify-content: space-between;
}

.posts__more {
  display: flex;
  align-self: center;
  font-size: 16px;
  color: var(--color-secondary);
}

.posts__more:hover {
  text-decoration: underline;
}

.posts__list {
  display: flex;
  gap: 20px;

}

.posts__card {
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  width: 100%;
  height: auto;
  padding: 22px;
  gap: 10px;
  color: var(--color-dark);
  border-radius: 5px;
}

.works__title {
  font-size: 22px;
}

@media (max-width: 767px) {
  .banner__inner {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    margin: 0 auto;
    gap: 30px;
  }

  .header__menu {
    display: none;
  }

  .banner__article {
    order: 2;
    display: flex;
    align-items: center;
  }

  .banner__portfolio-img {
    margin-top: 50px;
    order: 1;
    margin-left: 0;
  }

  .banner__title {
    width: 100%;
    margin-left: 0;
    display: flex;
    text-align: center;
    line-height: 1;
  }

  .banner__subtitle {
    width: 100%;
    text-align: center;
  }

  .posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .posts__inner {
    padding: 0;
  }

  .posts__nav {
    padding: 20px 0 0 0;
  }

  .posts__more {
    display: none;
  }

  .posts__title {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .posts__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    padding: 0 0 20px 0;
  }

  .posts__subtitle {
    max-width: 0;
  }

  .posts__card {
    width: 100%;
  }

  .works__inner {
    align-items: center;
  }

}