.header__menu-list {
  margin-top: 27px;
  display: flex;
  justify-content: end;
  gap: 33px;
}

.add-margin {
  margin-right: 66px;
}

.header__menu-link {
  color: var(--color-dark);
  font-family: var(--font-family-base);
  font-weight: 500;
}

.header__menu-item {
  font-style: 20px;
  font-family: var(--font-family-base);
}

.banner__inner {
  display: flex;
  padding: 150px 0 50px 0;
}

.banner__article {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.banner__article {
  width: 60%;
}

.header__icon {
  display: none;
}

.banner__title {
  display: inline-block;
  font-family: var(--font-family-base);
  font-weight: 700;
  color: var(--color-dark-blue);
  font-size: 44px;
}

.banner__subtitle {
  font-family: var(--font-family-base);
  font-size: 16px;
  color: var(--color-dark-blue);
  line-height: 1;
}

.button-red {
  height: 47px;
  width: 208px;
  font-weight: 700;
  font-family: var(--font-family-base);
  background: var(--color-primary);
  border: none;
  color: white;
  border-radius: 3px;
  margin-bottom: 50px; /* удалить */
}

.banner__avatar {
  border-radius: 50%;
  width: 40%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.banner__avatar-inner {
  height: fit-content;
  position: relative;
}

.banner__avatar-inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: -5px;
  width: 100%;
  height: 100%;
  background-color: #EDF7FA;
  border-radius: 50%;
  z-index: -1;
}

.posts {
  background: var(--color-posts);
}

.posts__text {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.posts__more {
  display: flex;
  align-self: center;
  font-family: var(--font-family-base);
  font-size: 16px;
  color: var(--color-secondary);
}

.posts-list {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  padding-bottom: 32px;
}

.posts-card {
  display: flex;
  flex-direction: column;
  background: white;
  width: 100%;
  height: 295px;
  padding: 22px;
  gap: 10px;
  color: var(--color-dark);
  border-radius: 5px;
}

.posts__pushed {
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-family: var(--font-family-base);
}

.works__title {
  font-family: var(--font-family-base);
  font-size: 22px;
  padding: 30px 0 ;
  color: var(--color-dark-blue);
}

.works__card {
  display: flex;
  align-items: flex-start;
  padding: 0 0 15px 0;
  /* border-bottom: 1px solid var(--color-grey-5); */
}

.works__card-meta {
  margin-left: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.works__header {
  display: block;
  font-family: var(--font-family-base);
  font-size: 30px;
  color: var(--color-dark-blue);
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.works__card-type {
  display: flex;
  gap: 36px;
  margin-top: 10px;
  /* align-items: center */
}

.works__img {
  flex-shrink: 0;
}

.btn-dark-blue {
  width: 62px;
  height: 25px;
  font-family: var(--font-family-base);
  background-color: var(--color-dark-blue);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 20px;
  font-size: 15px;
}

.works__card-type-text {
  display: flex;
  align-items: start;
  font-size: 20px;
  font-weight: 300;
  font-family: var(--font-family-base);
  color: var(--color-light);
}

.works__card-subtitle {
  margin-top: 10px;
  font-size: 16px;
  font-family: var(--font-family-base);
  color: var(--color-dark-blue);
}

.works__border {
  border: 1px solid #E0E0E0;
}

.border-margin {
  margin-top: 10px;
}

.border-margin-lot {
  margin-top: 30px;
}

.card-margin {
  margin-top: 20px;
}

.card-margin-lot {
  margin-top: 30px;
}

.footer__socials {
  padding-top: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.footer__text {
  font-family: var(--font-family-base);
  font-size: 14px;
  padding-top: 26px;
  padding-bottom: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .banner__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }

  .header__icon {
    display: flex;
    justify-content: flex-end;
    margin: 20px;

  }

  .header__menu {
    display: none;
  }

  .banner__article {
    order: 2;
  }

  .banner__portfolio-img {
    margin-top: 50px;
    order: 1;
    margin-left: 0;
  }

  .banner__title {
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1;
  }

  .banner__subtitle {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .banner__button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    align-items: center;
  }

  .button-red {
    margin-bottom: 40px;
  }

  .posts {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .posts__more {
    display: none;
  }

  .posts__title {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .posts__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }

  .posts__subtitle {
    max-width: 0;
  }

  .posts-card {
    width: 90%;
  }

  .works {
    padding: 0;
    margin: 0 auto;
  }

  .works__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }

  .works__inner {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .works__img {
    width: 400px;
    height: 250px;
  }

  .works__card-img {
    width: 100%;
    height: 100%;
  }

  .works__card {
    display: flex;
    flex-direction: column;

  }

  .border-margin {
    display: none;
  }

  .is-hidden {
    display: none;
  }
}