.works__title {
    display: flex;
    font-size: 44px;
    color: var(--color-dark);
    padding-top: 40px;
}

.works__card-img {
    width: 246px;
    height: 184px;
}

.is-hidden-website {
    display: none;
}

@media (max-width: 767px) {

    .is-hidden-website {
        display: flex;
    }

    .is-hidden {
        display: none;
    }

    .works__list{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
   

}